---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import ProjectCard from "@components/ProjectCard.astro";

type ProjectCard = {
  title: string;
  pubDate: string;
  description: string;
  imageSrc: string;
}

let projects = await Astro.glob<ProjectCard>("./projects/*.mdx");
projects = projects.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<Layout>
  <section class="grid py-10 place-items-center text-center">
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 dark:text-white">Bpall</h1>
    <p>Bpall's projects and blog</p>
  </section>
  {projects.map((project) => <ProjectCard {...project.frontmatter} />)}
</Layout>
<Footer />