---
import { Picture } from "@astrojs/image/components";

export interface Props {
  title: string;
  pubDate: string;
  description: string;
  imageSrc: string;
}

const { imageSrc, title, description, pubDate } = Astro.props;
---

<section class="py-14 sm:flex sm:items-center sm:justify-evenly text-center sm:text-left">
  <Picture
    widths={[112]}
    sizes="(max-width: 800px) 90vw, 768px"
    src={imageSrc}
    loading="lazy"
    alt={"alt"}
    aspectRatio={1}
    class="rounded-lg sm:rounded-xl overflow-hidden inline-flex sm:m-8 w-28 h-28"
  />
  <header class="mt-8 max-w-lg sm:my-0 mx-auto sm:mx-0">
    <h1 class="sm:text-4xl text-3xl font-bold mb-4 dark:text-white">{title}</h1>
    <p class="max-w-10 font-normal leading-7 dark:text-zinc-300 sm:max-w-sm md:max-w-xl">{description}</p>
  </header>
</section>
