---
import { Icon } from "astro-icon";
---

<script>
  const themeBtn = document.getElementById("theme-toggler");
  const htmlClassList = document.documentElement.classList;
  themeBtn.addEventListener("click", function () {
    if (htmlClassList.contains("dark")) {
      localStorage.setItem("theme", "light");
      htmlClassList.remove("dark");
    } else {
      localStorage.setItem("theme", "dark");
      htmlClassList.add("dark");
    }
  });
</script>

<button
  class="p-3 hover:text-slate-500 dark:hover:text-slate-400 text-lg text-gray-900 dark:text-white dark:bg-zinc-700 bg-zinc-300 w-12 h-12 fixed cursor-pointer flex justify-center items-center bottom-8 right-8 rounded-full left-unset"
  aria-label="theme toggle"
  id="theme-toggler"
>
  <Icon name="eva:moon-outline" class="dark:hidden" />
  <Icon name="akar-icons:sun" class="hidden dark:block" />
</button>
